$VoteHistory-container: '#chart';


// Universal variables.
$elex-red: #F04A40;

// Example:
$brand-primary: #0185d3;
$brand-success: #57AD58;
$state-success-text: $brand-success;
$grey-major:#5D5D5D;
$grey-minor:#C7C7C7;
$grey-shadow:#EEEEEE;

$chartGrey: #808080;
$tooEarlyLabelGrey: #A9A9A9;
$choroplethLineStrokeColor: #DDDDDD;
$republican: #E34E36;
$democrat: #4895D0;

$btn-primary-bg: $grey-minor;
$btn-border-radius-large: 2px;
$btn-border-radius-base: 2px;
$btn-primary-color: $grey-major;
$btn-font-weight: bold;
$btn-primary-border: transparent;

$democrat: #5298E6;
$republican: #D83E34;

$font-family-sans-serif: 'Gotham A', 'Gotham B', arial, sans-serif;
